name: Python CI

on:
  push:
    branches: 
      - main
      - development
      - 1-autofix-linter-errors-and-formatting
  pull_request:
    branches: 
      - main
      - development

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install ruff
        pip install -r requirements.txt
    - name: Run tests with pytest
      run: |
        pytest tests
    - name: Run lintering with ruff
      run: |
        ruff src --fix # make ruff run for src folder files and --fix to fix automatically linting errors
        ruff tests --fix 
